*{
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.box-section {
    height: 100vh;
    display: flex;
    font-size: 40px;
    justify-content: center;
}
#pink{
    background-color:pink;
    justify-content: center;

}
#yellow{
    background-color: yellow;
    justify-content: center;
}
#green{
    background-color: green;
    justify-content: center;
}
p{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}